{{>header}}
<form id="form" method="POST" action="/calculos">
	<label>Nombre:</label>
	<input name="nombre" type="text" required>
	<label>Nota 1:</label>
	<input name="nota1" type="number">
	<label>Nota 2:</label>
	<input name="nota2" type="number">
	<label>Nota 3:</label>
	<input name="nota3" type="number">
	<button>Calculcar</button>
</form>
{{>footer}}